body {
  font-family: "Times New Roman", Times, serif, sans-serif;
}
.menu h1 {
  text-align: left;
}
.chef {
  width: 350px;
  height: 300px;
  position: relative;
}
.list {
  line-height: 30px;
  margin-top: 10px;
  font-size: 30px;
}
.list a {
  text-decoration: none;
  color: blue;
}
.carba {
  width: 500px;
  height: 300px;
}
.pizza {
  width: 500px;
  height: 300px;
}
.spagetti {
  width: 500px;
  height: 300px;
}
.Ingredients {
  border: 1px solid black;
  padding: 10px;
}
.image-container {
  margin-right: 20px;
}
